<!DOCTYPE html>
<html>
<head>
<title> My CV </title>
</head>
<body>

<div> 
<h2><b> Personal information </b></h2>
<img src="/home/ibrahim/ibrahim/me/image.jpeg" width = "80px" height = "80px">
<h4> Name: Ibrahim Adel </h4>             
<h4> Birthdate: 15-11-1998</h4>
<h4> Phone: 01022992760 </h4>
<h4> Address:El Shrouk City, Cairo </h4>
<h4> Mail: ibrahimadel1010@gmail.com </h4>
</div>

<h2><b> Education </b></h2>
<pre> Modern University for Technology & Information [2021]
- Bachelor’s degree in Computer Science with GPA of 2.843.
- Graduation project “Prediction of Cardiac Arrhythmia Using Machine Learning” Grade: A+ 
</pre>

<h2><b> Skills </b></h2>
<ul>
<li> C++ Programming Language </li>
<li> Python Programming </li>
<li> Object-oriented Programming </li>
<li> HTML </li>
<li> CCNA </li>
<li> CCNP </li>
<li> linux </li>
<li> bash scripting </li>
<li> Git & GitHub </li>
</ul>

</body>
</html>
